* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container {
    height: 500px;
    background-color: #1F2937;
    padding: 150px;
    padding-top: 20px;
}

header {
    display: flex;
    margin-bottom: 75px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

.link-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-container {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.hero-left {
    width: 30%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-right {
    width: 50%;
    height: 250px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

button:active {
    background-color: #F9FAF8;
    color: #3882F6;
}

.middle-container > span {
    font-size: 36px;
    font-weight: 900;
    align-self: center;
}

.middle-container {
    display: flex;
    justify-content: center;
    padding: 30px 75px 0 75px;
    flex-direction: column;
}

.boxes-container {
    display: flex;
    margin-top: 30px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.box {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-wrapper > p {
    margin-top: 10px;
    width: 200px;
    font-size: 18px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    height: 300px;
    width: 100%;
    padding: 100px 300px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-container p:nth-of-type(2) {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    font-size: 28px;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

.call-to-action-box {
    display: flex;
    height: 150px;
    width: 1000px;
    border: none;
    border-radius: 15px; 
    background-color: #3882F6;
    padding: 20px 75px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-to-action-box p:nth-of-type(2) {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    padding-top: 3px;
}

.left {
    margin-right: 125px;
}

.call-to-action-box > button {
    border: 3px solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
    font-size: 18px;
    color: #E5E7EB
}